
@font-face {
	font-family: 'Makhina';
	src: url('Makhina.ttf');
}


html {
	font-family: 'Makhina', sans-serif;
	font-size: 16px;
}

body {
	height: 100vh;
	margin: 0;
	opacity: 1;
	overflow: hidden;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
	-webkit-transition: opacity 0.125s ease, -webkit-transform 0.125s ease;
	        transition: opacity 0.125s ease, transform 0.125s ease;
}

body.hidden {
	opacity: 0;
	-webkit-transform: translate(0, 2em);
	        transform: translate(0, 2em);
}

h1 {
	color: #111;
	padding: 0.75em 1em;
	margin: 0;
	font-size: 4em;
	font-weight: 400;
}

a {
	display: inline-block;
	color: #111;
	padding: 0.5em 2em;
	font-size: 2em;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: #1b557a;
}
